### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Byte-compiled / optimized / DLL files
__pychche__/
*.py[cod]
*&py.class


# 一些文档
开发文档.md
config.yaml

# 临时文件
tmp/

# 日志文件
*.log
